@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ggth7y');
    src:  url('../fonts/icomoon.eot?ggth7y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ggth7y') format('truetype'),
    url('../fonts/icomoon.woff?ggth7y') format('woff'),
    url('../fonts/icomoon.svg?ggth7y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e0cd";
}
.icon-camera_roll:before {
    content: "\e3b3";
}
.icon-card_travel:before {
    content: "\e8f8";
}
.icon-palette:before {
    content: "\e40a";
}
.icon-directions_bike:before {
    content: "\e52f";
}
.icon-directions_boat:before {
    content: "\e532";
}
.icon-directions_car:before {
    content: "\e531";
}
.icon-free_breakfast:before {
    content: "\eb44";
}
.icon-star:before {
    content: "\e838";
}
.icon-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-local_airport:before {
    content: "\e53d";
}
.icon-local_bar:before {
    content: "\e540";
}
.icon-local_cafe:before {
    content: "\e541";
}
.icon-local_gas_station:before {
    content: "\e546";
}
.icon-shopping_cart:before {
    content: "\e8cc";
}
.icon-room:before {
    content: "\e8b4";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-phone_android:before {
    content: "\e324";
}
.icon-restaurant:before {
    content: "\e56c";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-star_border:before {
    content: "\e83a";
}
.icon-vpn_key:before {
    content: "\e0da";
}
